.git
.ipynb_checkpoints/*
/notebooks/*
/unused/*
Dockerfile
.DS_Store
.gitignore
README.md
env.*
/devops/*
.next
coverage
_

# To prevent storing dev/temporary container data
*.csv
/tmp/*

demo
spec
node_modules
npm-debug.log