- var cacheBuster = "dca58cb6"
<!DOCTYPE html>
html#here
  head
    link(rel='icon' type='image/png' sizes='32x32' href=('https://www.avatarbox.io/images/favicon-32x32.png?ver='+cacheBuster))
    link(rel='icon' type='image/png' sizes='16x16' href=('https://www.avatarbox.io/images/favicon-16x16.png?ver='+cacheBuster))
    meta(charset='utf-8')
    link(rel='manifest' href=('/manifest.json?ver='+cacheBuster))
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='theme-color' content='#000000')
    link(rel='shortcut icon' href=('https://www.avatarbox.io/images/fav_icon.png?ver='+cacheBuster) type='image/x-icon')
    link(rel='stylesheet' type='text/css' href=('https://www.avatarbox.io/css/reset.css?ver='+cacheBuster))
    link(rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet')
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css")
    link(rel='stylesheet' type='text/css' href='https://unpkg.com/bulma@0.8.0/css/bulma.min.css')
    link(rel='stylesheet' type='text/css' href=('https://www.avatarbox.io/css/site.css?ver='+cacheBuster))
    meta(charset='utf-8')
    title #{title}
    block styles
    
  body#menu
    block content
    script(src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js")
    script(src="https://js.pusher.com/6.0/pusher.min.js")
    script(type='text/javascript' src=('https://www.avatarbox.io/js/site.js?ver='+cacheBuster))
    script(type='text/javascript' src=('https://www.avatarbox.io/js/bulma.js?ver='+cacheBuster))
    block scripts