extends _layout.pug

block styles
  link(rel='stylesheet' type='text/css' href='../css/calendar.css')

block content
  section.hero.is-light.is-fullheight
    .hero-head
      include ../components/navbar.pug
    .hero-body
      .container
        .columns.is-centered.is-marginless
          .column.is-paddingless.is-two-thirds-tablet.is-half-desktop
            .card
              header.card-header
                p.card-header-title
                  span#calendar-heading Calendar
                  span#confirm Are You Sure?
              .card-content.card-block.is-paddingless
                .slides.is-block-centered
                  each image in images
                    figure 
                      img.is-block-centered(src=image.url)
                      p.has-text-grey.is-size-7 #{image.day}
                #disclaimer.is-block-centered
                  h2(class=(isEnabled ? "is-hidden" : "")).has-text-centered 
                    | Your Gravatar icon will be updated now, and then once a day, every day.
                  h2(class=(!isEnabled ? "is-hidden" : "")).has-text-centered
                    | Your Gravatar icon will no longer be updated.
              form(action="/calendar/submit" method="post").card-footer
                a#home.card-footer-item(href='/')
                  i.fa.fa-home(aria-hidden='true')
                  | &nbsp; Home
                a#back.card-footer-item(href='#')
                  i.fa.fa-chevron-left(aria-hidden='true')
                  | &nbsp; Back
                a(href='#here' class=(isEnabled ? "is-hidden" : "")).card-footer-item.btn-next
                  | Start &nbsp;
                  i.fa.fa-chevron-right(aria-hidden='true')
                a(href='#here' class=(!isEnabled ? "is-hidden" : "")).card-footer-item.btn-next
                  | Disable &nbsp;
                  i.fa.fa-close(aria-hidden='true')
                button(type="submit" class=(isEnabled ? "is-hidden" : "")).card-footer-item.btn-submit
                  | Let it rip &nbsp; 
                  i.fa.fa-send(aria-hidden='true')
                button(type="submit" class=(!isEnabled ? "is-hidden" : "")).card-footer-item.btn-submit
                  | Okay &nbsp; 
                  i.fa.fa-check(aria-hidden='true')