extends _layout.pug

block styles
  link(rel='stylesheet' type='text/css' href='../css/landing.css')

block content
  if prompt && prompt.name == "image-shortage"
    include ../components/prompt.image-shortage.pug  
  section#hero.hero.is-info.is-fullheight
    .hero-head
      include ../components/navbar.pug
    div(class='hero-body')
      div(class='container has-text-centered')
        div(class='column is-6 is-offset-3')
          h1(class='title') New Avatar, Daily
          h2(class='subtitle')
            | A handy resource to auto update your Gravatar icon
          div(class=(!user && "is-hidden"))
            a(class="button is-white"  href="/calendar")
              i.fa.fa-calendar 
              |&nbsp; Calendar
          form(class=(user ? "is-hidden" : "box") method='post' action=('' + action))
            div(class='field is-grouped')
              p(class='control is-expanded step-1')
                input(class='input email' name='email' type='email' placeholder=' Email Address')
              p(class='control is-expanded step-2')
                input(class='input text' name='password' type='password' placeholder=' Password')
              p(class='control')
                button(type='submit' class='button is-info')
                  span(class='step-1') Get Started
                  span(class='step-2') Sign In
            if validationMessage
              span.has-text-danger #{validationMessage}