nav(class='navbar is-centered has-background-grey-darker')
  div(class='container')
    div(class='navbar-brand')
      a(class='navbar-item is-transparent' href='/')
        img(src='/images/avatarbox.png' alt='Logo')
