nav(class='navbar has-background-grey-darker')
  div(class='container')
    div(class='navbar-brand')
      a(class='navbar-item is-transparent' href='/')
        img(src='/images/avatarbox.png' alt='Logo')
    .navbar-menu.is-transparent.has-text-centered
      .navbar-end
        a(class='navbar-item has-text-white' href='/home/sign-out')
          | Sign Out