extends _layout.pug

block content
  section.hero.is-light.is-fullheight
    .hero-head
      include ./includes/navbar.pug
    .hero-body
      .container
        section
          h1.title.has-text-centered.is-size-1 That's all, thank you!
          .level
            h1.level-item.subtitle.has-text-centered We really appreciate your time.
        hr.partition
        .level
          .level-item
            p.cta.has-text-centered Tell your friends!
        .level
          .level-item
            div#social-icons.is-size-3
              a(target="blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Favatarbox.io%2F").icon
                i.fa.fa-facebook
              a(target="blank" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Favatarbox.io%2F&text=Avatar%20Box%20-%20Gravatar%20Auto%20Updater").icon
                i.fa.fa-twitter
              a(target="blank" href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Favatarbox.io%2F&media=&description=Avatar%20Box%20-%20Gravatar%20Auto%20Updater").icon
                i.fa.fa-pinterest
              a(target="blank" href="http://www.tumblr.com/share?v=3&u=https%3A%2F%2Favatarbox.io%2F&t=Avatar%20Box%20-%20Gravatar%20Auto%20Updater").icon
                i.fa.fa-tumblr
        hr.partition
        .level
          .level-item
            p.has-text-centered.is-size-7
              | PS: If you found this valuable, pass it on to your friends.
