extends _layout.pug

block content
  section.hero.is-light.is-fullheight
    .hero-head
      include ./includes/navbar.pug
    .hero-body
      .container
        section
          h1.title.has-text-centered.is-size-1 That's all, thank you!
          .level
            h1.level-item.subtitle.has-text-centered We really appreciate your time.
        hr.partition
        .level
          .level-item
            p.cta.has-text-centered Tell your friends!
        .level
          .level-item
            div#social-icons.is-size-3
              a.icon
                i.fa.fa-facebook
              a.icon
                i.fa.fa-twitter
              a.icon
                i.fa.fa-envelope
              a.icon
                i.fa.fa-google
        hr.partition
        .level
          .level-item
            p.has-text-centered.is-size-7
              | PS: If you found this valuable, pass it on to your friends.

block scripts
  script(async src="https://w.appzi.io/bootstrap/bundle.js?token=h2U0P")