- var isCentered = (navbar.isCosmetic ? "is-centered" : "")
- var isTransparent = (navbar.isTransparent ? "is-transparent" : "has-background-grey-darker")
nav(class=(`navbar ${isCentered} ${isTransparent}`))
  div(class='container')
    div(class='navbar-brand')
      a(class='navbar-item is-transparent' href='/')
        img(src='/images/avatarbox.png' alt='Logo')
      noscript
        a(href="#menu" class=(navbar.isCosmetic ? "is-hidden" : "")).navbar-burger.burger.is-progressive
          span
          span
          span
    div(class=(`${isTransparent} ${navbar.isCosmetic ? "is-hidden" : ""}`))#navbar-menu.navbar-menu.has-text-centered
      .navbar-end
        span(class="navbar-item")
          a(class='navbar-item has-text-white' href='/home/sign-out')
            | Sign Out
        noscript
          a(href="#" class=(`button is-transparent`))    
            span(class=(navbar.isCosmetic ? "is-hidden" : "")).navbar-burger.burger.is-progressive.is-active
              span
              span
              span