/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
.slides::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > figure {
  scroll-snap-align: start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: relative;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slides > figure p {
  margin-top:10px;
  text-transform: uppercase;
  font-weight: bold;
}

.card-content {
  position: relative;
}

.slide-btn {
  color: #d8d8d8;
  cursor: pointer;
  padding: 20px;
  position: absolute;
}

.slide-btn:hover {
  -webkit-transition: 500ms color;
  -o-transition: 500ms color;
  transition: 500ms color;
  color: #a1a1a1;
}

.slide-btn.prev {
  left: 50px;
}

.slide-btn.next {
  right: 50px;
}

button#enable,
button#disable {
  box-shadow: none;
}

.btn-submit,
#back,
#disclaimer,
#confirm,
#here:target .btn-next,
#here:target #home,
#here:target .slides,
#here:target .slide-btn,
#here:target #calendar-heading {
  display:none;
}

#here:target .btn-submit,
#here:target #back,
#here:target #confirm {
  display: inherit;
}

#here:target #disclaimer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-footer-item.btn-submit {
  border: 0;
  background: inherit;
  cursor: pointer;
  color: #3273dc;
  font-size: 100%;
}

.card-footer-item.btn-submit:hover{
  color: black;
}

.card-footer-item.btn-submit:focus {
  outline: none;
}

.card-block {
  min-width:300px;
  height:300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom:10px;
}

@media screen and (max-width:768px){
  .slide-btn{
    display: none;
  }
}