#confirm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#icons {
  display: flex;
}

#icons > a {
  flex: 1;
  color: #C8C8C8;
  transition: 300ms color;
}

#icons > a:hover {
  color: black;
}

.subtitle, .cta {
  padding: 20px 0px;
}