html, body {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.navbar.is-centered .navbar-brand {
  text-align: center;
  display: block;
  width: 100%;
}

.navbar.is-centered .navbar-brand > .navbar-item,
.navbar.is-centered .navbar-brand .navbar-link {
  display: inline-block;
}

.hero.is-success {
  background: #F2F6FA;
}

.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#hero .step-2 {
    display: none;
}

#hero:target .step-1 {
    display: none;
}

#hero:target .step-2 {
    display: block;
}

a.navbar-item.is-transparent {
    background-color: transparent !important;
}

div.navbar-menu.is-transparent {
    background-color: transparent !important;
}

.input.email, input.text {
    font-family: "Open Sans", Arial, FontAwesome;
}

#navbarMenu:target {
    display: block;
}

a.navbar-burger.burger.is-progressive {
    position: fixed;
    right: 0px;
}

span.navbar-burger.burger.is-progressive {
    color: #ffffff;
}

.button.is-transparent {
    border: none;
    background-color: transparent;
}

.is-block-centered {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

@media screen and (max-width:768px){
    .hero-body {
        padding-left: 0px;
        padding-right: 0px;
    }
}
