/* http://smacss.com */
/* base */
/* layout */
/* module */
/* state */
/* theme */

/* utility */

a.navbar-item.is-transparent {
    background-color: transparent !important;
}

div.navbar-menu.is-transparent {
    background-color: transparent !important;
}

.input.email {
    font-family: Arial, FontAwesome;
}

#navbarMenu:target {
    display: block;
}

a.navbar-burger.burger.is-progressive {
    position: fixed;
    right: 0px;
}

span.navbar-burger.burger.is-progressive {
    color: #ffffff;
}

.button.is-transparent {
    border: none;
    background-color: transparent;
}