html, body {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.debug {
  border: 1px solid red;
}

.cloak {
  display: none;
}

.navbar.is-centered .navbar-brand {
  text-align: center;
  display: block;
  width: 100%;
  padding-top:5px;
}

.navbar.is-centered .navbar-brand > .navbar-item,
.navbar.is-centered .navbar-brand .navbar-link {
  display: inline-block;
}

hr {
  border-bottom: 1px solid #a9a9a9;
}

hr.partition {
  margin: 40px 20%;
}

.hero .nav, .hero.is-light .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#here .step-2 {
    display: none;
}

#here:target .step-1 {
    display: none;
}

#here:target .step-2 {
    display: block;
}

a.navbar-item.is-transparent {
    background-color: transparent !important;
}

div.navbar-menu.is-transparent {
    background-color: transparent !important;
}

.input.email, input.text {
    font-family: "Open Sans", Arial, FontAwesome;
}

#menu:target #navbar-menu {
    display: block;
}

noscript a.navbar-burger.burger {
    position: absolute;
    right: 0px;
}

noscript span.navbar-burger.burger {
    color: #ffffff;
}

.button.is-transparent {
    border: none;
    background-color: transparent;
}

.is-block-centered {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

#social-icons {
  display: flex;
}

#social-icons > a {
  margin: 0px 25px;
  color: #C8C8C8;
}

#social-icons > a:hover {
  transition: 1000ms color;
  color: black;
}

.navbar-end .avatar-icon {
  margin-top: auto;
  margin-bottom: auto;
}

[data-target="navbar-menu"] .avatar-icon,
noscript .avatar-icon {
  margin: auto;
  height: 100%;
  padding: 10px 0;
}

.calendar-img{
  width: 200px;
  height: 200px;
}

@media screen and (max-width:768px){
  .hero-body {
      padding-left: 0px;
      padding-right: 0px;
  }
  hr.partition {
    margin: 40px 0%;
  }
}

@media screen and (max-width:1024px) {
  .navbar-end .avatar-icon {
    display: none;
  }
}

